<footer class="footer"> 
    <div class="footer-overlay"></div>
    <div class="container footer-content">
        <div class="footer-grid">
            <div>
                <div class="footer-inferior">
                    <div class="footer-links">
                        <h3>NAVEGACIÓN</h3>
                        <ul>
                            <li><a href="index.html">Inicio</a></li>
                            <li><a href="">Noticias</a></li>
                            <li><a href="">Contacto</a></li>
                        </ul>
                    </div>

                    <div class="footer-links">
                        <h3>SERVICIOS</h3>
                        <ul>
                            <li><a href="#">Emergencias 100</a></li>
                            <li><a href="pages/cuarteles.html">Mapa de Cuarteles</a></li>
                            <li><a href="pages/capacitacion.html">Capacitaciones</a></li>
                        </ul>
                    </div>

                    <div class="footer-links">
                        <h3>CONTACTO</h3>
                        <ul>
                            <li><i class="fa-solid fa-location-dot"></i>Santa Rosa, La Pampa</li>
                            <li><i class="fa-solid fa-phone"></i>(02954) 42-0000</li>
                            <li><i class="fa-solid fa-envelope"></i>info@bomberoslp.org</li>
                        </ul>

                        <div class="footer-redes">
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                    </div>
                </div>

                <div class="footer-linea"></div>
                <div class="footer-copy">
                    <p>
                        © 2026 Federación de Bomberos Voluntarios de La Pampa.
                        Todos los derechos reservados.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
