<!-- NAVBAR -->

<header class="header" id="header">
    <div class="container nav">

        <!-- Logo -->
        <a href="index.html" class="logo">
            <img src="img/logo/logo.png" alt="Federación Pampeana de Bomberos Voluntarios">
        </a>

        <!-- Botón menú celular -->
        <button class="menu-toggle" id="menu-toggle" aria-label="Abrir menú">
            <i class="fa-solid fa-bars"></i>
        </button>

        <!-- Menú -->
        <nav class="nav-menu" id="nav-menu">
            <ul class="menu">
                <li>
                    <a href="index.html">Inicio</a>
                </li>

                <!-- Institucional -->
                <li class="dropdown">
                    <a href="#">
                        Institucional
                        <i class="fa-solid fa-chevron-down"></i>
                    </a>

                    <ul class="submenu">
                        <li><a>Historia</a></li>
                        <li><a href="pages/autoridades.html">Autoridades</a></li>
                    </ul>
                </li>

                <li>
                    <a href="pages/cuarteles.html">Cuarteles</a>
                </li>

                <!-- Capacitación -->
                <li class="dropdown">
                    <a href="#">
                        Capacitación
                        <i class="fa-solid fa-chevron-down"></i>
                    </a>

                    <ul class="submenu">
                        <li><a href="pages/esc_capacitacion.html">Escuela de Capacitación</a></li>
                        <li><a href="pages/organigrama.html">Organigrama</a></li>
                        <li><a href="pages/calendario.html">Calendario</a></li>
                        <li><a href="https://plataforma-bomberos.vercel.app/login" target="_blank" rel="noopener noreferrer">Campus Virtual</a></li>
                        <li><a href="https://campus.anbvirtual.org.ar/mod/forum/discuss.php?d=4461" target="_blank" rel="noopener noreferrer">Campus A.N.B</a></li>
                        <li><a href="#">Bibliografía</a></li>
                    </ul>
                </li>

                <!-- Colp -->
                <li class="dropdown">
                    <a href="#">
                        COLP
                        <i class="fa-solid fa-chevron-down"></i>
                    </a>

                    <ul class="submenu">
                        <li><a>¿Que es el COLP?</a></li>
                        <li><a>Incendios Forestales</a></li>
                        <li><a>Materiales Peligrosos</a></li>
                        <li><a>Movilizaciones</a></li>
                    </ul>
                </li>

                <!-- Documentación -->
                <li class="dropdown">
                    <a href="#">
                        Documentación
                        <i class="fa-solid fa-chevron-down"></i>
                    </a>

                    <ul class="submenu">
                        <li><a href="pages/estatuto.html">Estatuto</a></li>
                        <li><a href="pages/obrasocial.html">Obra Social</a></li>
                        <li><a href="pages/cuerposactivos.html">Cuerpos Activos</a></li>
                        <li><a>Seguros</a></li>
                    </ul>
                </li>

                <li><a>Noticias</a></li>

                <li><a>Galería</a></li>

            </ul>

        </nav>

        <!-- Botón -->
        <a  href="https://sistemabomberos.com.ar" class="btn-sistema" target="_blank" rel="noopener noreferrer">
            <i class="fa-solid fa-right-to-bracket"></i>
            <span>Acceso al Sistema</span>
        </a>
    </div>
</header>